---
Checks: >
  -*,
  bugprone-*,
  -bugprone-chained-comparison,
  cert-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
...
